<!DOCTYPE html>
<html lang="ko">
<head>
<style>
    body {width : 600px; border:solid 2px black;height: 805px;}
    div {border: solid 2px black;}
    .body{width:600px; height : 700px;}
    .header {width : 600px; height : 100px;}
    .side1 {float:left ; width :150px; height: 700px;}
    .content {float:left; width:260px; height: 700px;}
    .side2 {float:right ;width : 178px; height : 700px;}
    .footer{clear: both; width:600px; height: 100px;}

</style>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    
    <div class=header>
        <p>헤더 들어갈 자리</p>
    </div>  
    <div class=body>

        <div class=side1>
            <p>사이드바1</p>
        </div>
        <div class=content>
            <p>컨텐츠</p>
        </div>
        <div class=side2>
            <p>사이드바2</p>
        </div>

    </div>
    <div class=footer>
        <p>푸터 들어갈 자리</p>
    </div>
</body>
</html>